.list-row{
    background-color: rgb(218, 248, 248);
    margin: auto;
    border: 2px solid rgb(122, 122, 201);
    border-radius: 20px;
    margin-top: 100px;
    padding: 15px 30px;
    font-size: 17px;
    color: rgb(105, 105, 177);
    text-align: start;
}

.firstCell{
    background-color: rgb(155, 122, 185);
    padding:  4px 10px;
    border: 2px solid rgb(100, 73, 109);
    border-radius: 10px;
    color: rgb(218, 248, 248);
    text-align: center;
}